.ui.wrapper.basic.segment {
  min-height: 100%;
  margin-bottom: 3em; 
}

.ui.footer.basic.segment {
  position: fixed;
  bottom: 0em;
  width: 100%;
  padding-top: 0;
  padding-bottom: 0;
  padding-right: 0;
  padding-left: 260px;
  z-index: 99;
  margin-bottom: 0;
}

.ui.footer.basic.segment footer {
  /* background: #ffedde;
  border-top: 1px solid #f2711c; */
  background: #dff0ff;
  border-top: 1px solid #2185d0;
  padding: 0.2em 1em;
  color: #2185d0;
}
