<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>Predictive Maintenance for Cloud Connector - 설비가동현황</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<link rel="stylesheet" th:href="@{/images/icons/favicon.png}"
	type="image/x-icon" />
<link rel="stylesheet"
	th:href="@{/components/semantic/dist/semantic.min.css}" />
<link rel="stylesheet"
	th:href="@{/components/semantic/dist/calendar.css}" />
<link rel="stylesheet"
	th:href="@{/components/dygraph/dygraph.css}" />
<link rel="stylesheet" th:href="@{/css/common.css}" />
<link rel="stylesheet" th:href="@{/css/menu.css}" />
<link rel="stylesheet" th:href="@{/css/footer.css}" />

<!-- Predefined Styles -->
<style>
body {
	overflow-y: hidden;
}

.ui.form .inline.fields {
	margin: 0;
}

/* START: UI Calendar */
.inline.fields .ui.calendar label {
	margin: 0 .85714286em 0 0;
	font-weight: 700;
}
/* END: UI Calendar */
.ui.bottom.attached.segment#machine-parameters {
	height: 510px;
	overflow-y: auto;
}

canvas {
	width: 100% !important;
}
</style>

<style>
.dygraph-legend {
	left: 70px !important;
	Top: -110px !important;
	background-color: transparent !important;
	width: 80% !important;
}
</style>
</head>
<body>

	<div class="ui top fixed menu">

		<!-- Toogle sidebar -->
		<div class="item">
			<div id="toggleTopNavbar" onclick="toggleTopNavbar()"
				class="ui big icon compact toggle button" data-transition="overlay">
				<i class="sidebar icon"></i>
			</div>
		</div>

		<!-- Menu item -->
		<a class="item"><i class="home icon"></i> Home</a> <a class="item"><i
			class="at icon"></i> About</a> <a class="item"><i
			class="question icon"></i> FAQ</a>

		<!-- Right menu item -->
		<div class="right menu">
			<div class="ui dropdown item">
				<img class="ui avatar image" th:src="@{/images/avatars/steve.jpg}">
				Administrator <i class="dropdown icon"></i>
				<div class="menu">
					<a href="login.html" class="item" v-on:click="logout()"><i
						class="power icon"></i> Logout</a>
				</div>
			</div>
		</div>

	</div>

	<div class="ui visible left sidebar vertical menu">
		<a class="logo item"> <img class="ui centered image"
			th:src="@{/images/logos/cloud-connector-large-transparent.png}">
		</a>
		<div id="server-info" class="item">
			<center>
				<i class="server grey icon huge"></i>
				<p>BSCLAB-CC-001</p>
				<a class="ui orange label"> 127.0.0.1 </a>
			</center>
		</div>
		<a id="dashboardMenuItem" href="#" class="item"> Dashboard <i
			class="block layout icon"></i>
		</a> <a id="facilityMenuItem" href="#" class="item"> 설비가동현황 <i
			class="cogs layout icon"></i>
		</a> <a id="monitoringMenuItem" href="#" class="item"> 모니터링 항목현황 <i
			class="desktop icon"></i>
		</a> <a href="abnormal.html" class="item"> 이상발생이력관리 <i
			class="server icon"></i>
		</a>
		<!--<a href="settings.html" class="item">
      Settings
      <i class="cog icon"></i>
    </a> -->
		<div class="item">
			Master Data Management
			<div class="menu">
				<a id="mdmUacMenuItem" href="#" class="item"> User Account <i
					class="user icon"></i>
				</a> <a id="factoryMenuItem" href="#" class="item"> Factory <i
					class="factory icon"></i>
				</a>
			</div>
		</div>
		<!--<a href="training.html" class="item">
      Training Data Set
      <i class="area chart icon"></i>
    </a>-->
	</div>

	<!-- Main Content -->
	<div class="pusher">
		<div class="ui wrapper basic segment">

			<!-- Header -->
			<h1 class="ui header">설비가동현황</h1>
			<div class="ui divider"></div>

			<!-- Query Parameter -->
			<div class="ui top attached message">
				<h2 class="ui header">Query Parameter</h2>
			</div>

			<!-- Query Parameter Form -->
			<div class="ui bottom attached segment">
				<div class="ui form">
					<div class="inline fields">
						<div class="field">
							<label for="factory_select">공장명:</label> <select
								name="factory_select" id="factory_select"
								class="ui search dropdown">
								<option value="" disabled selected>Select Factory</option>
								<!--                 <option value="F001">(F001) Factory 1</option> -->
								<!--                 <option value="F002">(F002) Factory 2</option> -->
							</select>
						</div>
						<div class="field">
							<label for="machines_select">설비명:</label> <select
								name="machines_select" id="machines_select"
								class="ui search dropdown">
								<option value="" disabled selected>Select Machine</option>
								<!--                 <option value="MC_0001">MC_0001</option> -->
								<!--                 <option value="MC_0002">MC_0002</option> -->
								<!--                 <option value="MC_0003">MC_0003</option> -->
								<!--                 <option value="MC_0004">MC_0004</option> -->
								<!--                 <option value="MC_0005">MC_0005</option> -->
								<!--                 <option value="MC_0006">MC_0006</option> -->
								<!--                 <option value="MC_0007">MC_0007</option> -->
								<!--                 <option value="MC_0008">MC_0008</option> -->
							</select>
						</div>
						<div class="field">
							<div class="ui calendar" id="start_date">
								<label>Start date/time:</label>
								<div class="ui input left icon">
									<i class="calendar icon"></i> <input type="text"
										placeholder="Start" name="start_date_field"
										id="start_date_field">
								</div>
							</div>
						</div>
						<div class="field">
							<div class="ui calendar" id="end_date">
								<label>End date/time:</label>
								<div class="ui input left icon">
									<i class="calendar icon"></i> <input type="text"
										placeholder="End" name="end_date_field" id="end_date_field">
								</div>
							</div>
						</div>
						<button class="ui blue labeled icon button">
							<i class="filter icon"></i> Run
						</button>
					</div>
				</div>
			</div>

			<div class="ui mobile reversed stackable grid">
				<div class="row">
					<div class="twelve wide column">
						<div class="ui active inverted dimmer">
							<div class="ui text loader">Loading the awesomeness...</div>
						</div>
						<div style="height: 550px; width: 100%; margin-top: 110px;" id="chart">
						</div>
						<p style="text-align: center; font-size: 25px; margin-top: 30px;">
							Zoom: click-drag, Restore: double-click</p>
						<div class="ui horizontal segments">
							<div class="ui segment">
								<center>
									<button class="ui labeled icon button shifthour"
										data="ninety-forward">
										<i class="fast backward icon"></i> Backward by 90%
									</button>
									<button class="ui labeled icon button shifthour"
										data="backward">
										<i class="backward icon"></i> Backward by 1 hour
									</button>
									<button class="ui labeled icon button shifthour" data="forward">
										<i class="forward icon"></i> Forward by 1 hour
									</button>
									<button class="ui labeled icon button shifthour"
										data="ninety-backward">
										<i class="fast forward icon"></i> Forward 90%
									</button>
								</center>
							</div>
							<div class="ui segment">
								<a href="monitoring.html" target="_blank"
									class="ui fluid blue labeled icon button"> <i
									class="desktop icon"></i> 모니터링 항목현황
								</a>
							</div>
						</div>
					</div>
					<div class="four wide column">

						<div class="ui top attached message">
							<h3 class="ui header">Machine Parameters</h3>
						</div>

						<div class="ui attached segment">
							<button class="ui blue labeled icon button selectall"
								data="select">
								<i class="check square outline icon"></i> Select All
							</button>
							<button class="ui labeled icon button selectall" data="unselect">
								<i class="square outline icon"></i> Deselect All
							</button>
						</div>

						<div id="machine-parameters" class="ui bottom attached segment">
							<div class="ui active inverted dimmer">
								<div class="ui text loader">Loading...</div>
							</div>
							<div class="ui form" id="cbx_machine_parameters"></div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

	<div class="ui footer basic segment">
		<!-- Footer -->
		<footer>
			<p>Copyright &copy; Business Service Computing Laboratory, Pusan
				National University 2018. All rights reserved.</p>
		</footer>
	</div>

	<script th:src="@{/components/jquery/jquery-3.3.1.min.js}"></script>
	<script th:src="@{/components/dygraph/dygraph.min.js}"></script>
	<script th:src="@{/components/semantic/dist/semantic.min.js}"></script>
	<script th:src="@{/components/semantic/dist/calendar.js}"></script>
	<script th:src="@{/js/navigation.js}"></script>
	<script th:inline="javascript">
		var machineIdPrev = "";
	</script>
	<script th:src="@{/js/facility.js}"></script>

	<script th:inline="javascript">
		host = /*[[${host}]]*/{};
		urlBase = /*[[${urlBase}]]*/{};
		$("#dashboardMenuItem").attr("href", host + urlBase);
		$("#mdmUacMenuItem").attr("href", host + urlBase + "/mduac");
		$("#factoryMenuItem").attr("href", host + urlBase + "/factory");
		$("#monitoringMenuItem").attr("href", host + urlBase + "/monitoring");
		$("#facilityMenuItem").attr("href", host + urlBase + "/facility");
	</script>
</body>
</html>