<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
   <head>
      <title>Predictive Maintenance for Cloud Connector - Master Data Management: Factory</title>
      <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
      <link rel="stylesheet" th:href="@{/images/icons/favicon.png}" type="image/x-icon"/>
      <link rel="stylesheet" th:href="@{/components/semantic/dist/semantic.min.css}" />
      <link rel="stylesheet" th:href="@{/css/common.css}" />
      <link rel="stylesheet" th:href="@{/css/menu.css}" />
      <link rel="stylesheet" th:href="@{/css/footer.css}" />
      <link rel="stylesheet" th:href="@{/css/breadcrumb.css}" />
   </head>
   <body>
   	
   	<div class="ui top fixed menu">

    <!-- Toogle sidebar -->
    <div class="item">
      <div id="toggleTopNavbar" onclick="toggleTopNavbar()" class="ui big icon compact toggle button" data-transition="overlay">
        <i class="sidebar icon"></i>
      </div>
    </div>

    <!-- Menu item -->
    <a class="item"><i class="home icon"></i> Home</a>
    <a class="item"><i class="at icon"></i> About</a>
    <a class="item"><i class="question icon"></i> FAQ</a>

    <!-- Right menu item -->
    <div class="right menu">
      <div class="ui dropdown item">
        <img class="ui avatar image" th:src="@{/images/avatars/steve.jpg}">
          Administrator
        <i class="dropdown icon"></i>
        <div class="menu">
          <a href="login.html" class="item" v-on:click="logout()"><i class="power icon"></i> Logout</a>
        </div>
      </div>
    </div>

  </div>

  <div class="ui visible left sidebar vertical menu">
    <a class="logo item">
      <img class="ui centered image" th:src="@{/images/logos/cloud-connector-large-transparent.png}">
    </a>
    <div id="server-info" class="item">
      <center>
        <i class="server grey icon huge"></i>
        <p>BSCLAB-CC-001</p>
        <a class="ui orange label">
          127.0.0.1
        </a>
      </center>
    </div>
    <a id="dashboardMenuItem" href="#" class="item">
      Dashboard
      <i class="block layout icon"></i>
    </a>
    <a id="facilityMenuItem" href="#" class="item">
      설비가동현황
      <i class="cogs layout icon"></i>
    </a>
    <a id="monitoringMenuItem" href="#" class="item">
      모니터링 항목현황
      <i class="desktop icon"></i>
    </a>
    <a href="abnormal.html" class="item">
      이상발생이력관리
      <i class="server icon"></i>
    </a>
    <!--<a href="settings.html" class="item">
      Settings
      <i class="cog icon"></i>
    </a>-->
    <div class="item">
      Master Data Management
      <div class="menu">
        <a id="mdmUacMenuItem" href="#" class="item">
          User Account
          <i class="user icon"></i>
        </a>
        <a id="factoryMenuItem" href="#" class="item">
          Factory
          <i class="factory icon"></i>
        </a>
      </div>
    </div>
    <a href="training.html" class="item">
      Training Data Set
      <i class="area chart icon"></i>
    </a>
  </div>

  <!-- Main Content -->
  <div class="pusher">
    <div class="ui wrapper basic segment">

      <!-- Header -->
      <h1 class="ui header">Factory</h1>
      <div class="ui divider"></div>

      <!-- Breadcrumb -->
      <div class="ui breadcrumb">
        <a href="md.html" class="section">Master Data Management</a>
        <div class="divider"> / </div>
        <div class="active section">Factory</div>
      </div>

      <!-- Factory Management -->
      <div class="ui stackable two column grid">
        <div class="four wide column">
          <div class="ui top attached message">
            <h3 class="ui header">Create Factory</h3>
          </div>

          <div class="ui attached">
            <center><img class="ui centered fluid image" th:src="@{/images/avatars/placeholder.png}"></center>
          </div>

          <div class="ui bottom attached segment">
            <form action="#" th:action="@{/pmfcc/factory}" method="post" class="ui form">
              <div class="field">
                <label for="factory-code">Factory Code</label>
                <input type="text" name="factoryCode" placeholder="Enter Factory Code">
              </div>
              <div class="field">
                <label for="factory-name">Factory Name</label>
                <input type="text" name="factoryName" placeholder="Enter Factory Name">
              </div>
              <button class="ui fluid blue labeled icon button" type="submit" Value="Submit">
                <i class="save icon"></i>
                Create
              </button>
            </form>
          </div>
        </div>
        <div class="twelve wide column">
          <table id="factory-table" class="ui selectable table">
            <thead>
              <tr>
                <th>No.</th>
                <th>Factory Code</th>
                <th>Factory Name</th>
                <th>Action</th>
              </tr>
            </thead>
            <tbody>
              <tr th:each="factory, idx : ${factories}">
              	<td th:text="${idx.count}"></td>
              	<td th:text="${factory.factoryCode}"></td>
              	<td th:text="${factory.factoryName}"></td>
              	<td>
              		<div class="ui small basic icon buttons">
	                    <!--  <a href="md_factory_detail.html" target="_blank" class="ui button"><i class="edit icon"></i></a> -->
	                    <button class="ui button"><i th:id="${factory.factoryId}" th:name="${factory.factoryName}" onclick="deleteFactory(this.id)" class="red trash icon"></i></button>
                  	</div>
              	</td>
              </tr>
            </tbody>
          </table>          
        </div>
      </div>
    </div>
  </div>

  <div class="ui footer basic segment">
    <!-- Footer -->
    <footer>
      <p>Copyright &copy; Business Service Computing Laboratory, Pusan National University 2018. All rights reserved.</p>
    </footer>
  </div>
   	
   	<script th:src="@{/components/jquery/jquery-3.3.1.min.js}"></script>
  	<script th:src="@{/components/semantic/dist/semantic.min.js}"></script>
  	<script th:src="@{/components/datatables/datatables-1.10.18/js/jquery.dataTables.min.js}"></script>
  	<script th:src="@{/components/datatables/datatables.min.js}"></script>
  	<script th:src="@{/js/navigation.js}"></script>
  	<script th:inline="javascript">
	  	host = /*[[${host}]]*/ {} ;
	  	urlBase = /*[[${urlBase}]]*/ {} ;
	  	$("#dashboardMenuItem").attr("href",host+urlBase);
	  	$("#mdmUacMenuItem").attr("href",host+urlBase+"/mduac");
	  	$("#factoryMenuItem").attr("href",host+urlBase+"/factory");
	  	$("#monitoringMenuItem").attr("href",host+urlBase+"/monitoring");
	  	$("#facilityMenuItem").attr("href",host+urlBase+"/facility");
	  	
	  	
	  	function deleteFactory(id){
  			var factoryName = $("#"+id).attr("name");
  			var cfr = confirm("Are you sure want to delete "+factoryName+" ?");
  			if(cfr == true){
  				//alert(host+urlBase+"/factory/delete?factoryId="+id);
  				window.location.href = host+urlBase+"/factory/delete?factoryId="+id;
  			}
  		} 
	</script>
   </body>
</html>